<link rel="stylesheet" href="/css/auth.css">

<h1>Login Account</h1>
<form action="/auth/login" method="post">
  <span class="inputFieldContainer">
    <input type="email" placeholder="Email Address" name="emailAddress" required/>
  </span>
  <span class="inputFieldContainer">
    <input placeholder="Password" name="password" required/>
  </span>
  <br>
 <div class="buttonBox">
  <button>Login</button>
 </div>
<div><a href="/auth/createAccount">Create</a> a new Account
</div>
</form>